<div class="title space-left-40px">Popular tags</div>
<ul class="nav space-left-20px">
    <li class="nav-item">
        <a class="popular-title"
           href="#">perl</a>
    </li>
    <li class="nav-item">
        <a class="popular-title"
           href="#"
           style="color: black; font-size: 20px;">Python</a>
    </li>
    <li class="nav-item">
        <a class="popular-title"
           href="#"
           style="color: blue; font-size: 20px;">TechnoPark</a>
    </li>
    <li class="nav-item">
        <a class="popular-title"
           href="#"
           style="color: red; font-size: 25px;">MySQL</a>
    </li>
    <li class="nav-item">
        <a class="popular-title"
           href="#"
           style="color: green; font-size: 30px;">Django</a>
    </li>
    <li class="nav-item">
        <a class="popular-title"
           href="#"
           style="color: black; font-size: 25px;">MailRU</a>
    </li>
    <li class="nav-item">
        <a class="popular-title"
           href="#"
           style="color: black; font-size: 15px;">Voloshin</a>
    </li>
    <li class="nav-item">
        <a class="popular-title"
           href="#"
           style="color: yellow; font-size: 20px;">FireFox</a>
    </li>
</ul>