{% extends "include/base_signup.html" %}

{% load static %}

{% block content %}
    <form action="{% url 'ask' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help form-text text-muted">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input class="btn btn-light add-btn" type="submit" value="Ask">
    </form>
{% endblock content %}

{% block side %}
    {% include "include/popular_tags.html" %}
    {% include "include/best_members.html" %}
{% endblock side %}
